@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-primary: "Fira Sans", sans-serif;
  --primary-color: #282626;
  --secondary-color: #656ec2;
  --background-color: #ffffff;

  --basic-box-shadow: 0px 7px 12px 0px #64646F33;

  --container-max-width: 1620px;
  --container-padding: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

/* Group 2 */

position: absolute;
width: 626px;
height: 64px;
left: 647px;
top: 128px;


